
body {
   display:flex;
   background-color: black;

}


.stage
{

    display:grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-column:2/6;
    grid-row:2/3;

    
}


div 
{
        column-gap:10px;
        border: 3px solid black;
        font-size: 8vmin;
        text-align: center;
        vertical-align: middle;
        background-image:"images/tile.jpg";
       

}  
div>#category{
    font-size:smaller;
    
}


