
body {
   background-color: tan;
   height: 50%;
  

}
.box
{
    display:flex;
    background-color : white;
    background-image : url(../images/tile.png);
    border : 2px solid white;
    border-radius : "10%";
    color :#ffbd33;
    align-content : center;
    justify-content : center;
    font-size:20px;
}


#cat
{
    font-size:"15px";
}

.stage
{

   background-color:black;
    display:grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-column:2/6;
    grid-row:2/3;

    
}



div>#category{
    font-size:smaller;
    
}


